/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*///////////////////////////////////////////////////////////////////*/

/* Transición suave del fondo al cambiar entre pantallas */
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Fondo naranja completo SOLO para la pantalla de Usuarios */
body:has(app-usuarios) {
  background-color: orange;
}


/* Fondo azul completo SOLO para la pantalla Home */
body:has(app-home) {
  background-color: blue;
}

/* Fondo azul cielo SOLO para la pantalla de Aviones */
body:has(app-aviones) {
  background-color: skyblue;
}

/* Fondo azul marino SOLO para la pantalla de Barcos */
body:has(app-barcos) {
  background-color: navy;
  color: white;
}
