<script src="/lib/bootstrap/js/bootstrap.js"></script>

<h1>MI TIENDINA</h1>

<div class="row">
  <!-- Columna 1 -->
  <div class="col-sm-4" style="background-color:yellow;">


  </div>

  <!-- Columna 2 -->
  <div class="col-sm-4" style="background-color:skyblue;">

    <hr>
    <h2>Boton + imagen</h2>
    <hr>

    <button style="width:100px;height:50px;" (click)="abrir()">
      <img class="button-icon" style="width:70px;height:35px;" [src]="jsmIcon">
    </button>

    <hr>

  </div>

  <!-- Columna 3 -->
  <div class="col-sm-4" style="background-color:lightpink;">

    <hr>

    <h2>Formulario</h2>
    <hr>


    <button class="btn-success" type="button" style="width:200px;" (click)="cambiaNombre()"> Enviar </button>



    <hr>


  </div>

</div>
