<h1>USUARIOS</h1>




<div class="row">
  <!-- Columna 1 -->
  <div class="col-sm-4" style="background-color:yellow;">



  </div>

  <!-- Columna 2 -->
  <div class="col-sm-4" style="background-color:skyblue;">


  </div>


  <!-- Columna 3 -->
  <div class="col-sm-4" style="background-color:lightpink;">



  </div>

  <button type="button" class="btn-warning">CREAR USUARIO</button>



  <table border="1px solid black" class="table-primary" style="width: 100%; margin-top: 20px; margin-bottom: 20px;" id="table">

    <!-- Titulo -->
    <tr>
      <td colspan="5" style="text-align: center; padding: 10px;">TITULO DE LA TABLA</td>
    </tr>

    <!-- Fila (1) -->
    <tr>
      <td style="padding:10px;"> Celda a1 </td>

      <td style="padding:10px;"> Celda a2 </td>

      <td style="padding:10px;"> Celda a3 </td>

      <td style="padding:10px;"> Celda a4 </td>

      <td style="padding:10px;"> Celda a5 </td>

    </tr>

    <!-- Fila (2) -->
    <tr>

      <td style="padding:10px;"> Celda b1 </td>

      <td style="padding:10px;"> Celda b2 </td>

      <td style="padding:10px;">Celda b3 </td>

      <td style="padding:10px;">Celda b4 </td>

      <td style="padding:10px;"> Celda b5 </td>

    </tr>

    <!-- Fila (3) -->
    <tr>
      <td style="padding:10px;"> Celda c1 </td>

      <td style="padding:10px;"> Celda c2 </td>

      <td style="padding:10px;"> Celda c3 </td>

      <td style="padding:10px;"> Celda c4 </td>

      <td style="padding:10px;"> Celda c4 </td>

    </tr>

    <!-- Fila (4) -->
    <tr>
      <td style="padding:10px;"> Celda d1 </td>

      <td style="padding:10px;"> Celda d2 </td>

      <td style="padding:10px;"> Celda d3 </td>

      <td style="padding:10px;"> Celda d4 </td>

      <td style="padding:10px;"> Celda d5 </td>

    </tr>

  </table>


  <div>

    <button type="button" class="btn-warning" style="margin-right: 10px;">EDITAR USUARIO</button>

    <button type="button" class="btn-warning">ELIMINAR USUARIO</button>

  </div>

</div>

