<h1>USUARIOS</h1>


<!--BOTON MODIFICAR USUARIO-->
<div class="row d-flex justify-content-end" style="margin-bottom:10px;">
  <button type="button" class="btn btn-warning col-md-1" (click)="addUser()"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>




<!-- MODAL MODIFICAR USUARIO -->
<div *ngIf="modalAgregarUsuario"
     class="modal fade show"
     style="display:block;"
     tabindex="-1">

  <div class="modal-dialog">
    <div class="modal-content">


      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">

          <!-- Aqui mi icono de la cabecera-->
          <i class="fa fa-user" aria-hidden="true"></i>
          MODIFICAR USUARIO
        </h5>

        <button type="button"
                class="btn-close"
                (click)="modalAgregarUsuario = false">
        </button>
      </div>

      <!-- BODY -->
      <div class="modal-body">

        <div class="row">

          <!-- NOMBRE -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Nombre</label>
            <input type="text"
                   class="form-control">
          </div>

          <!-- EMAIL -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Email</label>
            <input type="email"
                   class="form-control">
          </div>

          <!-- TELÉFONO -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Teléfono</label>
            <input type="text"
                   class="form-control">
          </div>

          <!-- PASSWORD -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Password</label>

            <!--<div class="input-group">
              <input [type]="mostrarPassword ? 'text' : 'password'"
                     class="form-control">

              <button type="button"
                      class="btn btn-outline-secondary"
                      (click)="mostrarPassword = !mostrarPassword">

                <i class="fa"
                   [class.fa-eye]="!mostrarPassword"
                   [class.fa-eye-slash]="mostrarPassword"
                   aria-hidden="true">
                </i>-->
            <!--</button>-->
            <!--</div>-->
          </div>

        </div>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer d-flex justify-content-start">

        <button type="button"
                class="btn btn-outline-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          ACEPTAR
        </button>

        <button type="button"
                class="btn btn-outline-danger"
                (click)="modalAgregarUsuario = false">
          <i class="fa fa-times" aria-hidden="true"></i>
          CANCELAR
        </button>

      </div>

    </div>
  </div>
</div>







<div class="row">

  <table class="table" style="width:100%;" id="table">
    <thead class="table-dark">

      <!-- Titulo -->
      <tr>
        <td colspan="7" style="text-align: center; padding: 10px;">
          LISTADO DE USUARIOS
        </td>
      </tr>

      <!-- Cabecera de los campos -->
      <tr class="text-center">
        <th style="padding:10px;">ID</th>
        <th style="padding:10px;">NOMBRE</th>
        <th style="padding:10px;">EMAIL</th>
        <th style="padding:10px;">TELÉFONO</th>
        <th style="padding:10px;">PASSWORD</th>
        <th style="padding:10px;">F. ALTA</th>
        <th style="padding:10px;">ACCIONES</th>
      </tr>

      <!-- Filas de usuarios -->
      <tr *ngFor="let usuario of usuarios">
        <td style="padding:10px;" class="text-center">{{ usuario.idUsuario }}</td>
        <td style="padding:10px;" class="text-center">{{ usuario.nombreUsuario }}</td>
        <td style="padding:10px;" class="text-center">{{ usuario.email }}</td>
        <td style="padding:10px;" class="text-center">{{ usuario.telefono }}</td>
        <td style="padding:10px;" class="text-center">{{ usuario.password }}</td>
        <td style="padding:10px;" class="text-center">{{ usuario.fechaAlta | date:'dd/MM/yyyy' }}</td>

        <td style="padding:10px;" class="text-center">

          <button type="button"
                  class="btn btn-warning"
                  style="margin-right: 10px;"
                  (click)="editUser()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button type="button"
                  class="btn btn-warning"
                  (click)="deleteUser()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>

        </td>
      </tr>

    </thead>
  </table>
</div>
